.card {
    background: #ECE6F0;
    border-radius: 28px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.card img {
    max-width: 40px;
}

.next-activity .headline {
    display: flex;
    align-items: center;
    gap: 16px;
}

.next-activity {
    line-height: 24px;
}

.next-activity .date {
    font-size: 16px;
}

.next-activity .objectif {
    font-size: 15px;

    display: flex;

    flex-direction: column;
    gap: 5px;
}

.next-activity .objectif div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.next-activity .objectif img {
    max-width: 20px;
}

.card.actu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.actu img {
    max-height: 22px;
}

.actu-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.actu-description {
    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sign-up {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
}

.sign-up a {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: rgba(42, 69, 164, 0.77);
}

#canvas {
    width: 640px;
    height: 480px;

    display: none;
}