main {
    padding-bottom: 100px;
}

.navigation-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F3EDF7;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 8px;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
}

.nav-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 16px;
    gap: 4px;
    
    max-width: 126.67px;
    max-height: 80px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.nav-item .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 64px;
    height: 32px;
    
    background-color: transparent;
    border-radius: 16px;
}

.nav-item.selected .icon-container {
    background-color: #E8DEF8;
}

.navigation-bar img {
    width: 17px;
    height: 17px;
}

.nav-item h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    vertical-align: bottom;
}

.nav-item.selected h3 {
    font-weight: 500;
}