* {
    margin: 0;
    padding: 0;

    font-family: Roboto;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    max-width: 800px;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 20px;
}

main {
    max-width: 800px;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 60px;
}

.horizontal-line {

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
    border: 2px solid rgba(0, 0, 0, 0.42);
    width: 90%;

    border-radius: 5px;
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    margin-bottom: 16px;
}
a, button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a:focus {
    outline: none !important;
}